<p style="color: green"><%= notice %></p>

<h1>Visits</h1>

<div id="visits">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><strong>User Agent</strong> </th>
        <th><strong>Ip Adress</strong></th>
        <th><strong>Date</strong></th>

      </tr>
    </thead>
    <tbody>
        <% @visits.each do |visit| %>
          <tr>
            <%= render visit %>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Back to links", links_path %>
<div class="container">
  <%= paginate @visits%>
</div>
