<!-- _post.html.erb -->
<div class="link">
  <h3>Link regular:</h3>
  <%= render partial: 'link', locals: { link: link } %>
  <p>
    <strong>Expires:</strong>
  <%= link.expiration_date %>
  </p>
</div>